Django>=4.2,<5.0
django-cors-headers==4.3.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-filter==24.2
Pillow>=11.0.0
gunicorn==22.0.0
psycopg[binary]>=3.1.18
dj-database-url==2.1.0
whitenoise==6.5.0
django-cloudinary-storage==0.3.0
cloudinary==1.36.0
python-dotenv==1.0.1
# Google Indexing API
google-auth>=2.56.0