Django>=4.2,<5.0
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-filter
Pillow
gunicorn==20.1.0
psycopg2-binary
dj-database-url==2.1.0
whitenoise==6.5.0
django-cloudinary-storage==0.3.0
cloudinary==1.36.0
